# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
# *.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
# *.lib

# User specific files
*.user

# Executables
*.exe
*.out
*.app

# Custom
CreativeChaosEngine/.vs/
CreativeChaosEngine/bin/
CreativeChaosEngine/bin-int/
CreativeChaosEngine/x64/
CreativeChaosEngine/CreativeChaosEditor/imgui.ini
/CreativeChaosEngine/CreativeChaosEngine/src/CCE/String/String.h
